{"openapi":"3.1.0","info":{"title":"Cork API","description":"\n# Risk Insights and Client/Asset Management API\n\n## Use with MCP\n\nThe Cork API is also available as a remote [MCP (Model-Context Protocol)](https://modelcontextprotocol.io/introduction) server, accessible at https://api.cork.dev/api/v1/mcp.\n\nTo configure it with Claude, for example, update your `mcpServers` entry in the desktop config to something similar to:\n\n```json\n{\n  \"mcpServers\": {\n    \"cork\": {\n      \"command\": \"npx\",\n      \"args\": [\n        \"-y\",\n        \"mcp-remote\",\n        \"https://api.cork.dev/api/v1/mcp\",\n        \"--header\",\n        \"Authorization:${AUTH_HEADER}\",\n      ],\n      \"env\": {\n        \"AUTH_HEADER\": \"Bearer YOUR_API_KEY\"\n      }\n    }\n  }\n}\n```\n\nIf your preferred tool supports MCP, you can use the remote MCP address https://api.cork.dev/api/v1/mcp, and the same API key in the Authorization header.\n","version":"v1.0.0"},"servers":[{"url":"https://api.cork.dev/api/v1","description":"dev"}],"paths":{"/clients":{"get":{"tags":["Clients"],"summary":"Get Clients","description":"Information on clients. If API user is a distributor, response will include clients from child accounts.","operationId":"get-clients","parameters":[{"name":"page","in":"query","schema":{"default":1,"minimum":1,"type":"integer"}},{"name":"page_size","in":"query","schema":{"default":10,"maximum":100,"minimum":1,"type":"integer"}},{"name":"show_hidden","in":"query","schema":{"default":false,"type":"boolean"}},{"name":"partner_uuid","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedClientResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"Bearer":[]}]}},"/clients/{client-uuid}/devices":{"get":{"tags":["Clients"],"summary":"Get Client Devices","description":"Information on a client's devices","operationId":"get-client-devices","parameters":[{"name":"page","in":"query","schema":{"default":1,"minimum":1,"type":"integer"}},{"name":"page_size","in":"query","schema":{"default":10,"maximum":100,"minimum":1,"type":"integer"}},{"name":"client-uuid","in":"path","required":true,"schema":{"format":"uuid","type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedDeviceResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"Bearer":[]}]}},"/clients/{client-uuid}/domains":{"get":{"tags":["Clients"],"summary":"Get Client Domains","description":"Information on a client's domains","operationId":"get-client-domains","parameters":[{"name":"page","in":"query","schema":{"default":1,"minimum":1,"type":"integer"}},{"name":"page_size","in":"query","schema":{"default":10,"maximum":100,"minimum":1,"type":"integer"}},{"name":"client-uuid","in":"path","required":true,"schema":{"format":"uuid","type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedDomainResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"Bearer":[]}]}},"/clients/{client-uuid}/inboxes":{"get":{"tags":["Clients"],"summary":"Get Client Inboxes","description":"Information on a client's inboxes","operationId":"get-clients-inboxes","parameters":[{"name":"page","in":"query","schema":{"default":1,"minimum":1,"type":"integer"}},{"name":"page_size","in":"query","schema":{"default":10,"maximum":100,"minimum":1,"type":"integer"}},{"name":"client-uuid","in":"path","required":true,"schema":{"format":"uuid","type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedInboxResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"Bearer":[]}]}},"/compliance/client/{client-uuid}/events":{"get":{"tags":["Risk \u0026 Compliance"],"summary":"Get Compliance Events","description":"Information on compliance events in your environments","operationId":"get-compliance-events","parameters":[{"name":"event_type","in":"query","schema":{"type":"string"}},{"name":"device_uuid","in":"query","schema":{"format":"uuid","type":"string"}},{"name":"inbox_uuid","in":"query","schema":{"format":"uuid","type":"string"}},{"name":"domain_uuid","in":"query","schema":{"format":"uuid","type":"string"}},{"name":"at_risk","in":"query","schema":{"type":"boolean"}},{"name":"show_silenced","in":"query","schema":{"default":false,"type":"boolean"}},{"name":"show_resolved","in":"query","schema":{"default":false,"type":"boolean"}},{"name":"created_after","in":"query","schema":{"format":"date-time","type":["null","string"]}},{"name":"created_before","in":"query","schema":{"format":"date-time","type":["null","string"]}},{"name":"page","in":"query","schema":{"default":1,"minimum":1,"type":"integer"}},{"name":"page_size","in":"query","schema":{"default":10,"maximum":100,"minimum":1,"type":"integer"}},{"name":"client-uuid","in":"path","required":true,"schema":{"format":"uuid","type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedComplianceEventResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"Bearer":[]}]}},"/compliance/client/{client-uuid}/notification-settings":{"get":{"tags":["Risk \u0026 Compliance"],"summary":"Get Compliance Event Notification Settings","description":"Information on compliance event notification settings configured for assets","operationId":"get-compliance-event-notification-settings","parameters":[{"name":"device_uuid","in":"query","schema":{"format":"uuid","type":"string"}},{"name":"inbox_uuid","in":"query","schema":{"format":"uuid","type":"string"}},{"name":"domain_uuid","in":"query","schema":{"format":"uuid","type":"string"}},{"name":"page","in":"query","schema":{"default":1,"minimum":1,"type":"integer"}},{"name":"page_size","in":"query","schema":{"default":10,"maximum":100,"minimum":1,"type":"integer"}},{"name":"client-uuid","in":"path","required":true,"schema":{"format":"uuid","type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedComplianceEventNotificationSettingResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"Bearer":[]}]}},"/compliance/event-types":{"get":{"tags":["Risk \u0026 Compliance"],"summary":"Get Compliance Event Types","description":"Information on the types of compliance events","operationId":"get-compliance-event-types","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/ComplianceEventType"},"type":["null","array"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"Bearer":[]}]}},"/distributor/partners":{"get":{"tags":["Distributor"],"summary":"Get Partners","description":"Information on associated Partner accounts","operationId":"get-partners","parameters":[{"name":"page","in":"query","schema":{"default":1,"minimum":1,"type":"integer"}},{"name":"page_size","in":"query","schema":{"default":10,"maximum":100,"minimum":1,"type":"integer"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedPartnerResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"Bearer":[]}]},"post":{"tags":["Distributor"],"summary":"Provision Partner","description":"Provision a new Partner account","operationId":"provision-partner","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProvisionPartnerRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Partner"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"Bearer":[]}]}},"/integrations":{"post":{"tags":["Integrations"],"summary":"Connect an Integration","description":"Connect an API-based integration","operationId":"connect-integration","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RepositoryApiConnectIntegrationRequest"}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewIntegrationResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewIntegrationResponse"}}}}},"security":[{"Bearer":[]}]}},"/integrations/available":{"get":{"tags":["Integrations"],"summary":"Get Available Integrations","description":"Information on available integrations to connect","operationId":"get-available-integrations","parameters":[{"name":"vendor_type","in":"query","schema":{"type":"string"}},{"name":"page","in":"query","schema":{"default":1,"minimum":1,"type":"integer"}},{"name":"page_size","in":"query","schema":{"default":10,"maximum":100,"minimum":1,"type":"integer"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedAvailableIntegrationResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"Bearer":[]}]}},"/integrations/connected":{"get":{"tags":["Integrations"],"summary":"Get Connected Integrations","description":"Information on connected integrations","operationId":"get-connected-integrations","parameters":[{"name":"partner_uuid","in":"query","schema":{"format":"uuid","type":"string"}},{"name":"page","in":"query","schema":{"default":1,"minimum":1,"type":"integer"}},{"name":"page_size","in":"query","schema":{"default":10,"maximum":100,"minimum":1,"type":"integer"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedIntegrationResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"Bearer":[]}]}},"/integrations/{integration-uuid}/devices":{"get":{"tags":["Integrations"],"summary":"Get Integration Devices","description":"Information on devices seen through the integration","operationId":"get-integration-devices","parameters":[{"name":"page","in":"query","schema":{"default":1,"minimum":1,"type":"integer"}},{"name":"page_size","in":"query","schema":{"default":10,"maximum":100,"minimum":1,"type":"integer"}},{"name":"tenant_uuid","in":"query","schema":{"type":"string"}},{"name":"integration-uuid","in":"path","required":true,"schema":{"format":"uuid","type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedIntegrationDeviceResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"Bearer":[]}]}},"/integrations/{integration-uuid}/tenants":{"get":{"tags":["Integrations"],"summary":"Get Integration Tenants","description":"Information on tenants seen through the integration","operationId":"get-integration-tenants","parameters":[{"name":"page","in":"query","schema":{"default":1,"minimum":1,"type":"integer"}},{"name":"page_size","in":"query","schema":{"default":10,"maximum":100,"minimum":1,"type":"integer"}},{"name":"tenant_uuid","in":"query","schema":{"type":"string"}},{"name":"integration-uuid","in":"path","required":true,"schema":{"format":"uuid","type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedIntegrationTenantResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"Bearer":[]}]}},"/integrations/{integration-uuid}/users":{"get":{"tags":["Integrations"],"summary":"Get Integration Users","description":"Information on users seen through the integration","operationId":"get-integration-users","parameters":[{"name":"page","in":"query","schema":{"default":1,"minimum":1,"type":"integer"}},{"name":"page_size","in":"query","schema":{"default":10,"maximum":100,"minimum":1,"type":"integer"}},{"name":"tenant_uuid","in":"query","schema":{"type":"string"}},{"name":"integration-uuid","in":"path","required":true,"schema":{"format":"uuid","type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedIntegrationUserResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"Bearer":[]}]}},"/me":{"get":{"tags":["Who"],"summary":"Who Am I","description":"Information on the authenticated user","operationId":"who-am-i","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WhoAmi"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"Bearer":[]}]}},"/warranties":{"get":{"tags":["Warranty"],"summary":"Get Warranties","description":"Information on warranties","operationId":"get-warranties","parameters":[{"name":"partner_uuid","in":"query","schema":{"format":"uuid","type":"string"}},{"name":"page","in":"query","schema":{"default":1,"minimum":1,"type":"integer"}},{"name":"page_size","in":"query","schema":{"default":10,"maximum":100,"minimum":1,"type":"integer"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedWarrantyResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"Bearer":[]}]}}},"components":{"schemas":{"ApiError":{"properties":{"context":{"additionalProperties":{},"type":"object"},"error":{"type":"string"},"status":{"type":"string"}},"type":"object"},"AssociatedEndpoint":{"properties":{"integration":{"$ref":"#/components/schemas/Integration"},"integration_identifier":{"type":"string"},"ip_addresses":{"properties":{"external":{"items":{"type":"string"},"type":["array","null"]},"internal":{"items":{"type":"string"},"type":["array","null"]}},"type":"object"},"last_seen":{"format":"date-time","type":["null","string"]},"name":{"type":"string"}},"type":"object"},"AssociatedTenant":{"properties":{"integration":{"$ref":"#/components/schemas/Integration"},"name":{"type":"string"},"uuid":{"type":"string"}},"type":"object"},"AssociatedUser":{"properties":{"email":{"type":"string"},"integration":{"$ref":"#/components/schemas/Integration"},"name":{"type":"string"}},"type":"object"},"AvailableIntegration":{"properties":{"credential_fields":{"items":{"$ref":"#/components/schemas/VendorCredentialField"},"type":["array","null"]},"vendor":{"$ref":"#/components/schemas/Vendor"}},"type":"object"},"Client":{"properties":{"associated_tenants":{"items":{"$ref":"#/components/schemas/AssociatedTenant"},"type":["array","null"]},"created_at":{"format":"date-time","type":"string"},"hidden":{"type":"boolean"},"name":{"type":"string"},"uuid":{"type":"string"},"warranty_status":{"enum":["pending_activation","active","unwarranted"],"type":"string"}},"type":"object"},"ComplianceEvent":{"properties":{"at_risk":{"type":"boolean"},"at_risk_at":{"format":"date-time","type":["null","string"]},"client_uuid":{"type":"string"},"created_at":{"format":"date-time","type":"string"},"device_uuid":{"type":"string"},"domain_uuid":{"type":"string"},"event_type":{"type":"string"},"evidence":{"items":{"$ref":"#/components/schemas/ComplianceEvidence"},"type":["array","null"]},"inbox_uuid":{"type":"string"},"resolved_at":{"format":"date-time","type":["null","string"]},"silenced":{"type":"boolean"},"uuid":{"type":"string"}},"type":"object"},"ComplianceEventNotificationSetting":{"properties":{"configured_by":{"type":"string"},"created_at":{"format":"date-time","type":"string"},"device_uuid":{"type":"string"},"domain_uuid":{"type":"string"},"event_description":{"type":"string"},"excluded_from_coverage":{"type":"boolean"},"inbox_uuid":{"type":"string"},"needs_review":{"type":"boolean"},"notes":{"type":"string"},"reason":{"type":"string"},"review_duration_days":{"type":"integer"},"review_on":{"format":"date-time","type":"string"}},"type":"object"},"ComplianceEventType":{"properties":{"cure_period_hours":{"minimum":0,"type":["null","integer"]},"description":{"type":"string"},"event_type":{"type":"string"},"provisional":{"type":"boolean"}},"type":"object"},"ComplianceEvidence":{"properties":{"metadata":{},"reason":{"type":"string"}},"type":"object"},"Device":{"properties":{"associated_endpoints":{"items":{"$ref":"#/components/schemas/AssociatedEndpoint"},"type":["array","null"]},"created_at":{"format":"date-time","type":"string"},"name":{"type":"string"},"uuid":{"type":"string"}},"type":"object"},"Domain":{"properties":{"created_at":{"format":"date-time","type":"string"},"domain":{"type":"string"},"uuid":{"type":"string"}},"type":"object"},"Inbox":{"properties":{"associated_domains":{"items":{"type":"string"},"type":["array","null"]},"associated_users":{"items":{"$ref":"#/components/schemas/AssociatedUser"},"type":["array","null"]},"created_at":{"format":"date-time","type":"string"},"email":{"type":"string"},"name":{"type":"string"},"uuid":{"type":"string"}},"type":"object"},"Integration":{"properties":{"connection_status":{"$ref":"#/components/schemas/RepositoryConnectionStatus"},"created_at":{"format":"date-time","type":"string"},"display_name":{"type":"string"},"partner_uuid":{"type":"string"},"uuid":{"type":"string"},"vendor":{"$ref":"#/components/schemas/Vendor"}},"type":"object"},"IntegrationDevice":{"properties":{"created_at":{"format":"date-time","type":"string"},"integration_identifier":{"type":"string"},"integration_last_seen":{"format":"date-time","type":["null","string"]},"name":{"type":"string"},"operating_system":{"type":"string"},"tenant_uuid":{"type":"string"},"uuid":{"type":"string"}},"type":"object"},"IntegrationTenant":{"properties":{"created_at":{"format":"date-time","type":"string"},"integration_identifier":{"type":"string"},"integration_last_seen":{"format":"date-time","type":["null","string"]},"name":{"type":"string"},"uuid":{"type":"string"}},"type":"object"},"IntegrationUser":{"properties":{"created_at":{"format":"date-time","type":"string"},"email":{"type":"string"},"name":{"type":"string"},"tenant_uuid":{"type":"string"},"uuid":{"type":"string"}},"type":"object"},"NewIntegrationResponse":{"properties":{"connection_status":{"$ref":"#/components/schemas/RepositoryConnectionStatus"},"created_at":{"format":"date-time","type":"string"},"display_name":{"type":"string"},"partner_uuid":{"type":"string"},"uuid":{"type":"string"},"vendor":{"$ref":"#/components/schemas/Vendor"}},"type":"object"},"PaginatedAvailableIntegrationResponse":{"properties":{"items":{"items":{"$ref":"#/components/schemas/AvailableIntegration"},"type":["array","null"]},"pagination":{"$ref":"#/components/schemas/RepositoryApiPagination"}},"type":"object"},"PaginatedClientResponse":{"properties":{"items":{"items":{"$ref":"#/components/schemas/Client"},"type":["array","null"]},"pagination":{"$ref":"#/components/schemas/RepositoryApiPagination"}},"type":"object"},"PaginatedComplianceEventNotificationSettingResponse":{"properties":{"items":{"items":{"$ref":"#/components/schemas/ComplianceEventNotificationSetting"},"type":["array","null"]},"pagination":{"$ref":"#/components/schemas/RepositoryApiPagination"}},"type":"object"},"PaginatedComplianceEventResponse":{"properties":{"items":{"items":{"$ref":"#/components/schemas/ComplianceEvent"},"type":["array","null"]},"pagination":{"$ref":"#/components/schemas/RepositoryApiPagination"}},"type":"object"},"PaginatedDeviceResponse":{"properties":{"items":{"items":{"$ref":"#/components/schemas/Device"},"type":["array","null"]},"pagination":{"$ref":"#/components/schemas/RepositoryApiPagination"}},"type":"object"},"PaginatedDomainResponse":{"properties":{"items":{"items":{"$ref":"#/components/schemas/Domain"},"type":["array","null"]},"pagination":{"$ref":"#/components/schemas/RepositoryApiPagination"}},"type":"object"},"PaginatedInboxResponse":{"properties":{"items":{"items":{"$ref":"#/components/schemas/Inbox"},"type":["array","null"]},"pagination":{"$ref":"#/components/schemas/RepositoryApiPagination"}},"type":"object"},"PaginatedIntegrationDeviceResponse":{"properties":{"items":{"items":{"$ref":"#/components/schemas/IntegrationDevice"},"type":["array","null"]},"pagination":{"$ref":"#/components/schemas/RepositoryApiPagination"}},"type":"object"},"PaginatedIntegrationResponse":{"properties":{"items":{"items":{"$ref":"#/components/schemas/Integration"},"type":["array","null"]},"pagination":{"$ref":"#/components/schemas/RepositoryApiPagination"}},"type":"object"},"PaginatedIntegrationTenantResponse":{"properties":{"items":{"items":{"$ref":"#/components/schemas/IntegrationTenant"},"type":["array","null"]},"pagination":{"$ref":"#/components/schemas/RepositoryApiPagination"}},"type":"object"},"PaginatedIntegrationUserResponse":{"properties":{"items":{"items":{"$ref":"#/components/schemas/IntegrationUser"},"type":["array","null"]},"pagination":{"$ref":"#/components/schemas/RepositoryApiPagination"}},"type":"object"},"PaginatedPartnerResponse":{"properties":{"items":{"items":{"$ref":"#/components/schemas/Partner"},"type":["array","null"]},"pagination":{"$ref":"#/components/schemas/RepositoryApiPagination"}},"type":"object"},"PaginatedWarrantyResponse":{"properties":{"items":{"items":{"$ref":"#/components/schemas/Warranty"},"type":["array","null"]},"pagination":{"$ref":"#/components/schemas/RepositoryApiPagination"}},"type":"object"},"Partner":{"properties":{"created_at":{"format":"date-time","type":"string"},"name":{"type":"string"},"uuid":{"type":"string"}},"type":"object"},"ProvisionPartnerRequest":{"properties":{"partner_name":{"type":"string"},"primary_contact_email":{"format":"email","type":"string"},"primary_contact_name":{"type":"string"},"send_welcome_email":{"default":true,"description":"Whether to send a welcome email to the primary contact","type":"boolean"}},"required":["partner_name","primary_contact_name","primary_contact_email"],"type":"object"},"RepositoryApiConnectIntegrationRequest":{"properties":{"credential_fields":{"type":"object"},"display_name":{"type":"string"},"partner_uuid":{"format":"uuid","type":"string"},"vendor_key":{"type":"string"}},"required":["vendor_key","credential_fields"],"type":"object"},"RepositoryApiPagination":{"properties":{"page":{"minimum":0,"type":"integer"},"page_size":{"minimum":0,"type":"integer"},"total_items":{"minimum":0,"type":"integer"},"total_pages":{"minimum":0,"type":"integer"}},"type":"object"},"RepositoryConnectionStatus":{"enum":["ok","degraded","down","queued","fetching"],"type":"string"},"Vendor":{"properties":{"key":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"}},"type":"object"},"VendorCredentialField":{"properties":{"description":{"type":"string"},"dropdown_values":{"items":{"type":"string"},"type":"array"},"field_type":{"type":"string"},"is_secret":{"type":"boolean"},"name":{"type":"string"},"payload_key":{"type":"string"},"required":{"type":"boolean"}},"type":"object"},"Warranty":{"properties":{"active":{"type":"boolean"},"client_name":{"type":"string"},"client_uuid":{"type":"string"},"package":{"type":"string"},"start_date":{"format":"date-time","type":"string"},"uuid":{"type":"string"}},"type":"object"},"WhoAmi":{"properties":{"name":{"type":"string"}},"type":"object"}},"securitySchemes":{"Bearer":{"description":"API Key","type":"http","scheme":"bearer","bearerFormat":"Bearer %s"}}}}